.scaleList {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.scaleItem {
  max-width: 60px;
  max-height: 60px;
}

.scaleButton {
  font-size: 35px;
  font-weight: var(--font-weight-semibold);
  padding: 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.scaleButtonSelected {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
}