.titleWrapper {
  max-width: 860px;
}

.titleImage {
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.card {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.title { 
  font-size: 30px;
  font-weight: var(--font-weight-medium);
  line-height: 36px;
  text-align: center;
}

.divider {
  width: 100%;
  background-color: #000;
}

.description {
  align-self: start;
  font-size: 18px;
  line-height: 22px;
}