.container {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.backBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 600;
  color:#000
}

.headerBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pageTitle {
  font-size: 32px;
  font-weight: 700;
  color: #000;
  margin: 0;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.titleBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pageTitle {
  font-size: 32px;
  font-weight: 700;
  color: #000;
  margin: 0;
}

.pageSubtitle {
  font-size: 18px;
  color: #797979;
  margin: 0;
}

.createBtn {
  padding: 10px 16px;
  border-radius: 10px;
  width: fit-content;
  text-wrap: nowrap;
  font-weight: 600;
  font-size: 18px;
}

.emptyCard {
  max-width: 950px;
  padding: 80px 40px; 
  text-align: center;
  margin: 0 auto;
}

.plusButton {
  width: 120px;
  height: 120px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: 300;
  line-height: 1;  
  cursor: pointer;
  margin-bottom: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin: 0;
}

.description {
  font-size: 16px;
  color: var(--label-color, #797979);
  max-width: 320px;
  margin: 0 auto;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 24px;
  width: 100%;
}

@media (max-width: 900px) {
  .toolbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .createBtn {
    width: 100%;
  }
}