.navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 28px;
  font-weight: var(--font-weight-semibold);
  color: #000;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.answered {
  background-color: #c6ffd4;
}

.unanswered {
  background-color: #ffc6c6;
}

.untouched {
  background-color: var(--surface-color);
}