@import "./reset.css";
@import "./variables.css";
@import "./fonts.css";

body {
  font-family: var(--main-font);
  background-color: var(--background-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

[data-visually-hidden="true"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}